.catright {
    background: url('../src/image/catspriteright.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catleft {
    background: url('../src/image/catspriteleft.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catup {
    background: url('../src/image/catspriteup.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catdown {
    background: url('../src/image/catspritedown.gif');
    background-repeat: no-repeat;
    height: 80px;
}