.catright {
    background: url('../src/catspriteright.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catleft {
    background: url('../src/catspriteleft.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catup {
    background: url('../src/catspriteup.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catdown {
    background: url('../src/catspritedown.gif');
    background-repeat: no-repeat;
    height: 80px;
}