.catright {
    background: url('../src/catspriteright2.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catleft {
    background: url('../src/catspriteleft2.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catup {
    background: url('../src/catspriteup2.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catdown {
    background: url('../src/catspritedown2.gif');
    background-repeat: no-repeat;
    height: 80px;
}