.catright {
    background: url('../src/image/catspriteright2.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catleft {
    background: url('../src/image/catspriteleft2.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catup {
    background: url('../src/image/catspriteup2.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catdown {
    background: url('../src/image/catspritedown2.gif');
    background-repeat: no-repeat;
    height: 80px;
}