/* main CSS */
.cat {
    height: 50px;
}
.box {
    height: 25px;
}
.boss {
    height: 30px;
    margin-top: 5px;
    margin-left: 8px;
}
.container {
    display: flex;
    justify-content: center;
}
.map {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.control {
    align-items: flex-end;
    flex-basis: 13em;
    margin: 1em;
    display: grid;
    grid-template-columns: 4em 4em 4em;
    grid-template-rows: 4em 4em 4em;
    grid-column-gap: .5em;
    grid-template-areas:
      ". up ."
      "left down right"
}
.up {
    grid-area: up;
}
.down {
    grid-area: down;
}
.left {
    grid-area: left;
}
.right {
    grid-area: right;
}

.cardback {
    height: 50px;
    width: 30px;
    background-color: aquamarine;
    margin: 1px;
    display: inline-block;
}

.card-detail {
    padding: 40px;
    background: #FFF;
    margin: 0 auto;
    position: relative;
    max-width: 100px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
}

/* jQuery UI CSS */
.ui-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
    background-color: white;
    display: flex
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}