/* main CSS */
.catright {
    background: url('../src/catspriteright.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catleft {
    background: url('../src/catspriteleft.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catup {
    background: url('../src/catspriteup.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.catdown {
    background: url('../src/catspritedown.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.mouseleft {
    background: url('../src/mousespriteleft.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.mouseright {
    background: url('../src/mousespriteright.gif');
    background-repeat: no-repeat;
    height: 80px;
}
.box {
    background: url('../src/gem.gif');
    background-size: 20px;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
.boss {
    height: 50px;
    width: 45px;
}
.container {
    background: url('../src/bg.png');
    max-width: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bot-container {
    display: flex;
    flex-direction: row;
    width: 500px;
}
.bot-image {
    position: absolute;
    width: 500px;
}
.map {
    background: url('../src/map1.png');
    background-repeat: no-repeat;
    background-size: 520px;
    display: flex;
    flex-direction: column;
    margin: 1em 1em 0 1em;
}
.control {
    margin-left: auto;
    display: grid;
    grid-template-columns: 3em 3em 3em;
    grid-template-rows: 3em 3em 3em;
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    grid-template-areas:
      ". up ."
      "left down right"
}
.up {
    grid-area: up;
    height: 50px;
    cursor: pointer;
}
.down {
    grid-area: down;
    height: 50px;
    cursor: pointer;
}
.left {
    grid-area: left;
    height: 50px;
    cursor: pointer;
}
.right {
    grid-area: right;
    height: 50px;
    cursor: pointer;
}
.cardback {
    height: 50px;
    width: 30px;
    background-color: aquamarine;
    margin: 1px;
    display: inline-block;
}
.card-detail {
    padding: 40px;
    background: #FFF;
    margin: 0 auto;
    position: relative;
    max-width: 100px;
}
.popup-link {
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: auto;
}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
}

/* jQuery UI CSS */
.ui-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
    background-color: white;
    display: flex
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}